<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <div class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home"><img src="{{ site.baseurl }}/public/header.png" alt="seymour.co.za"></a>
        </div>
        <nav class="masthead-nav">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/blog/">Blog</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/contact/">Contact</a>
            </li>
          </ul>
        </nav>
        <hr>
      </header>

      <main>
        {{ content }}
      </main>

    </div>

  </body>
</html>
